In [1]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')

In [3]:
dig = df.isnull()

In [4]:
df[df.apply(lambda x: x.count(), axis = 1) < 785]

Empty DataFrame
Columns: [label, pixel0, pixel1, pixel2, pixel3, pixel4, pixel5, pixel6, pixel7, pixel8, pixel9, pixel10, pixel11, pixel12, pixel13, pixel14, pixel15, pixel16, pixel17, pixel18, pixel19, pixel20, pixel21, pixel22, pixel23, pixel24, pixel25, pixel26, pixel27, pixel28, pixel29, pixel30, pixel31, pixel32, pixel33, pixel34, pixel35, pixel36, pixel37, pixel38, pixel39, pixel40, pixel41, pixel42, pixel43, pixel44, pixel45, pixel46, pixel47, pixel48, pixel49, pixel50, pixel51, pixel52, pixel53, pixel54, pixel55, pixel56, pixel57, pixel58, pixel59, pixel60, pixel61, pixel62, pixel63, pixel64, pixel65, pixel66, pixel67, pixel68, pixel69, pixel70, pixel71, pixel72, pixel73, pixel74, pixel75, pixel76, pixel77, pixel78, pixel79, pixel80, pixel81, pixel82, pixel83, pixel84, pixel85, pixel86, pixel87, pixel88, pixel89, pixel90, pixel91, pixel92, pixel93, pixel94, pixel95, pixel96, pixel97, pixel98, ...]
Index: []

[0 rows x 785 columns]

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

In [8]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [ ]:
from keras.models import Sequential
from keras.layers import Convolution2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

Using TensorFlow backend.

In [10]:
#Model Building
classifier = Sequential()
classifier.add(Convolution2D(20,3,3, input_shape = (28, 28, 1),activation = 'relu'))
classifier.add(MaxPooling2D(pool_size = (2,2)))
classifier.add(Convolution2D(30,3,3,activation = 'relu'))
classifier.add(Convolution2D(40,3,3,activation = 'relu'))
classifier.add(MaxPooling2D(pool_size = (2,2)))
classifier.add(Flatten())
classifier.add(Dense(output_dim = 128, activation = 'relu'))
classifier.add(Dense(output_dim = 10, activation = 'softmax'))

In [21]:
classifier.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
classifier.fit(trainX, Y_train, batch_size = 100, epochs = 15)

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\envs\tfp3.6\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/15
28000/28000 [==============================] - 57s 2ms/step - loss: 0.3001 - acc: 0.9092
Epoch 2/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0722 - acc: 0.9774
Epoch 3/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0465 - acc: 0.9855
Epoch 4/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0360 - acc: 0.9884
Epoch 5/15
28000/28000 [==============================] - 56s 2ms/step - loss: 0.0265 - acc: 0.9913
Epoch 6/15
28000/28000 [==============================] - 55s 2ms/step - loss: 0.0215 - acc: 0.9924
Epoch 7/15
28000/28000 [==============================] - 55s 2ms/step - loss: 0.0182 - acc: 0.9940
Epoch 8/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0132 - acc: 0.9959
Epoch 9/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0110 - acc: 0.9964
Epoch 10/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0106 - acc: 0.9964
Epoch 11/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0115 - acc: 0.9962
Epoch 12/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0075 - acc: 0.9978
Epoch 13/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0092 - acc: 0.9971
Epoch 14/15
28000/28000 [==============================] - 53s 2ms/step - loss: 0.0095 - acc: 0.9971
Epoch 15/15
28000/28000 [==============================] - 52s 2ms/step - loss: 0.0072 - acc: 0.9978

In [22]:
score = classifier.evaluate(testX, Y_test, batch_size=128)

12000/12000 [==============================] - 9s 747us/step

In [23]:
score

[0.047453648925138016, 0.9893333333333333]

In [24]:
testing = pd.read_csv('test.csv')

In [25]:
sc = StandardScaler()
testing = sc.fit_transform(testing)

In [26]:
testingX = testing.reshape(testing.shape[0],28,28, 1).astype( 'float32' )

In [27]:
y_pred = classifier.predict(testingX)

In [28]:
y_pred

array([[7.60166511e-20, 2.53793673e-21, 1.00000000e+00, ...,
        1.39341287e-16, 4.60170633e-17, 8.65870138e-24],
       [9.99999046e-01, 6.02474776e-13, 3.79533560e-09, ...,
        2.26690915e-08, 1.24970101e-09, 4.59982573e-07],
       [7.86547019e-18, 1.94136394e-14, 2.69707090e-10, ...,
        1.99054610e-11, 1.72778396e-08, 9.99999166e-01],
       ...,
       [1.41405831e-27, 4.00771075e-18, 1.34302553e-24, ...,
        2.14320987e-18, 3.57501753e-18, 1.22645424e-17],
       [3.40269533e-14, 9.14918979e-14, 2.02107381e-14, ...,
        1.31265576e-08, 2.54355759e-10, 9.99999881e-01],
       [3.51204894e-21, 2.90862694e-21, 1.00000000e+00, ...,
        2.56771855e-19, 1.16836495e-15, 3.73182563e-24]], dtype=float32)

In [29]:
len(y_pred)

28000

In [30]:
arr = np.ones(28000)
for i in range(28000):
    arr[i] = y_pred[i].argmax()

In [31]:
arr = arr.astype('int')

In [32]:
arr

array([2, 0, 9, ..., 3, 9, 2])

In [33]:
l = []
for i in range(1,28001):
    l.append(i)
l = np.array(l)

In [34]:
dct = {'ImageId': l, 'Label': arr}

In [35]:
df1 = pd.DataFrame(dct)

In [36]:
df1

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
5            6      7
6            7      0
7            8      3
8            9      0
9           10      3
10          11      5
11          12      7
12          13      4
13          14      0
14          15      4
15          16      3
16          17      3
17          18      1
18          19      9
19          20      0
20          21      9
21          22      1
22          23      1
23          24      5
24          25      7
25          26      4
26          27      2
27          28      7
28          29      4
29          30      7
...        ...    ...
27970    27971      5
27971    27972      0
27972    27973      4
27973    27974      8
27974    27975      0
27975    27976      3
27976    27977      6
27977    27978      0
27978    27979      1
27979    27980      9
27980    27981      3
27981    27982      1
27982    27983      1
27983    27984      0
27984    27985      4
27985    27986      5
27986    27987      2
27987    27988      2
27988    27989      9
27989    27990      6
27990    27991      7
27991    27992      6
27992    27993      1
27993    27994      9
27994    27995      7
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]

In [37]:
df1.to_csv('Solution_cnn.csv')

In [38]:
classifier.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 26, 26, 20)        200
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 13, 13, 20)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 11, 11, 30)        5430
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 9, 9, 40)          10840
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 4, 4, 40)          0
_________________________________________________________________
flatten_1 (Flatten)          (None, 640)               0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               82048
_________________________________________________________________
dense_2 (Dense)              (None, 10)                1290
=================================================================
Total params: 99,808
Trainable params: 99,808
Non-trainable params: 0
_________________________________________________________________